<!DOCTYPE html>
<html>
<head>
  <title>Study Pathfinder</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Velkomin í Study Pathfinder</h1>
  <a href="/quiz">Byrja Quiz</a>
</body>
</html>