<!DOCTYPE html>
<html>
<head>
  <title>Study Pathfinder</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <h1>Velkomin í Pathfinder</h1>
      <p>Við hjálpum þér að finna þína leið!</p>
      <a class="btn" href="/quiz">Byrja Quiz</a>
    </div>
  </div>
</body>
</html>