<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
</head>
<body>
  <h2>Hvað heillar þig mest?</h2>

  <form method="POST">
    <button name="interest" value="math">Stærðfræði</button>
    <button name="interest" value="art">List</button>
    <button name="interest" value="people">Vinna með fólki</button>
    <button name="interest" value="tech">Tækni</button>
  </form>
</body>
</html>